<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="right detail-section">
    <div class="detail storey">
      <strong>Этажность дома:</strong> {{model.storey}}
    </div>
    <div class="detail">
      <strong>Количество комнат:</strong> {{model.bedrooms}}
    </div>

    <div class="detail total-square">
      <span>Общая квадратура:</span> {{model.totalsquare}}
    </div>
    <div class="detail residential-square">
      <span>Жилая квадратура:</span> {{model.residentialsquare}}
    </div>

    <div class="detail">
      <strong>Категории:</strong>
      {{#each model.categories as |category| }}
        <span>{{category.title}}</span>
      {{/each}}
    </div>

    <p>&nbsp;</p>
    <p class="description">{{model.description}}</p>
  </div>
  <img src="{{model.image}}" class="rental-pic">
</div>
