<div class="jumbo show-listing">
  <h2 class="title">{{model.title}}</h2>
  <div class="right detail-section">
    <div class="detail storey">
      <strong>Этажность дома:</strong> {{model.storeys}}
    </div>
    <div class="detail">
      <strong>Количество комнат:</strong> {{model.bedrooms}}
    </div>

    <div class="detail total-square">
      <strong>Общая квадратура:</strong> {{model.totalsquare}}
    </div>
    <div class="detail residential-square">
      <strong>Жилая квадратура:</strong> {{model.residentialsquare}}
    </div>

    <div class="detail">
      <strong>Категории:</strong>
      {{#each model.categories as |category| }}
        <span>{{category.title}}</span>
      {{/each}}
    </div>

    <div class="detail design">
      <strong>Конструкции дома:</strong>
      {{#each model.design as |design| }}
        <span>{{design.title}}</span>
      {{/each}}
    </div>

    <div class="detail period">
      <strong>Период постройки:</strong> {{model.period.title}}
    </div>
    <div class="detail district">
      <strong>Район:</strong> {{model.district.title}}
    </div>
  </div>
  <img src="{{model.image}}" class="rental-pic">
  <div class="description">{{model.description}}</div>
</div>
