<p class="pull-sm-right">
  {{#link-to "companies.edit" model class="btn btn-sm btn-primary"}}Edit{{/link-to}}
  <a class="btn btn-sm btn-danger" href="#" {{action "delete" model}}>Delete</a>
</p>

<h3>{{model.name}}</h3>

<div class="row">
  {{#if model.formattedAddress}}
    <div class="col-sm-6">
        <p style="padding-left: 1.25em;">
          <i class="fa fa-envelope" style="margin-left: -1.25em;"></i>
          {{model.formattedAddress}}
        </p>
    </div>
  {{/if}}
  <div class="col-sm-6">
    <p>
      {{#if model.phone}}<div class="contact-phone">
        <i class="fa fa-phone"></i>
        <a href="tel:{{{model.phone}}}">{{model.phone}}</a>
      </div>{{/if}}
      {{#if model.email}}<div class="contact-email">
        <i class="fa fa-at"></i>
        <a href="mailto:{{{model.email}}}">{{model.email}}</a>
      </div>{{/if}}
      {{#if model.website}}<div class="contact-website">
        <i class="fa fa-globe"></i>
        <a href="http://{{{model.website}}}" target="_blank">{{model.website}}</a>
      </div>{{/if}}
    </p>
  </div>
</div>

<hr>

<p>
  <strong>External ID:</strong>
  {{model.customerId}}
</p>

<p>
  <strong>Additional Info:</strong>
  {{model.additionalInfo}}
</p>

<hr>

<h4>Contacts</h4>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.contacts as |contact|}}
      <tr>
        <td>{{#link-to 'contacts.show' contact.id}}{{contact.fullName}}{{/link-to}}</td>
        <td>{{contact.title}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.email}}</td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5" style="text-align: center; font-style: italic">
          This company has no contacts.
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
